.malumot{
  width: 100%;
  padding-bottom: 30px;
  .malumotContainer{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    gap: 20px;
    padding: 0 20px;
    @media (max-width:700px) {
      flex-wrap: wrap;
      justify-content: center;
    }
    .malumot__content{
      display: flex;
      flex-direction: column;
      gap: 30px;
      img{
      height: 100%;
        width: 100%;

      }
      h2{
        ont-weight: 400;
        font-size: 24px;
        line-height: 32px;
        color: #2D40D9;
      }
      .population{
        display: flex;
        flex-direction: column;
        gap: 16px;
        .icon{
          width: 24px;
          height: 24px;
        }
      h2{
        font-weight: 550;
        font-size: 16px;
        line-height: 24px;
        color: #0C0C0C;
      }
      }
      p{
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        color: #0C0C0C;
        span{
          color: #2D40D9;
        }
      }
    }
  }
}



