.photoVideo {
  min-height: 538px;
  width: 100%;
  padding-top: 20px;

  .photoContainer {
    max-width: 1440px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    gap: 30px;

    .content {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 36px;

      .content-header {
        padding: 0px 20px;
        display: flex;
        justify-content: space-between;
        align-content: center;

        .link {
          color: var(--blueReal);
          font-weight: 550;
          font-size: 16px;
          @media (max-width: 350px) {
            font-size: 10px;
          }
        }
      }
    }

    .content-swiper {
      .swiper-wrapper {
        list-style: none;
        padding: 0;
        gap: 20px;
        @media (max-width: 350px) {
          flex-wrap: wrap;
        }
        @media (max-width: 400px) {
          justify-content: center;
        }
      }

      .my-slide {
        display: flex;
        flex-direction: column;
        gap: 12px;
        position: relative;
        align-content: center;
        justify-content: center;
      }
    }

    .title {
      font-weight: 400;
      font-size: 32px;
      line-height: 40px;
      color: #0C0C0C;
    }

    .switcher {
      display: inline-flex;
      gap: 20px;
      position: relative;

      h1 {
        transition: 0.2s all;
        cursor: pointer;
        padding: 2px;
        font-style: normal;
        font-weight: 550;
        font-size: 16px;
        letter-spacing: 0.0015em;
      }

      .switched {
        color: var(--blueReal);
        border-bottom: 4px solid var(--blueReal);

      }
    }

  }
}
.content-swiper {

  img {
    width: 80%;
  }
}
.date {
  width: 90px;
  border: none;
  background-color: var(--white);
  color: var(--blueReal);
  font-weight: 550;
  font-size: 11px;
  line-height: 11px;
  height: 20px;
  padding: 4px 8px;
  display: flex;
  justify-content: center;
  align-content: center;
  border-radius: 4px;
}

.descr {
  color: var(--black);
  font-weight: 550;
  font-size: 16px;
  line-height: 24px;
  width: 100%;
  @media (max-width:734px) {
    font-size: 13px;
    padding-right: 3px;
  }
}

.top {
  width: 100%;
  position: relative;

  .player {
    display: inline-block;
    width: 30%;
    height: 30%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-80%, -40%);
    cursor: pointer;
    &:hover {
          transition: 0.4s all;
          transform-origin: center;
          transform: scale(1.1) translate(-71%, -40%);
    }
  }
}