.Section4 {
  width: 100%;
  min-height: 532px;
  margin-top: 30px;
  .S4Container {
    height: 100%;
    max-width: 1600px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    background-image: url("../../Images/shaharback.jpg");
    justify-content: space-around;
    padding: 0 20px 20px;
    padding-top: 64px;
    background-repeat: no-repeat;
  background-size: cover;
    @media (max-width: 1000px) {

    }
    .LeftCardsMy{
      width: 60%;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
      .item {
        width: 387px;
        height: 156px;
      }
      p{
        font-weight: 550;
        font-size: 16px;
        line-height: 28px;
        color: #FFFFFF;
      }
    }
    .RightBigCard{
      width: 387px;
      min-height: 453px;
      background: rgba(0, 5, 47, 0.4);
      backdrop-filter: blur(7.5px);
      border-radius: 16px;
      display: flex;
      padding: 20px;
      flex-direction: column;
      gap: 20px;
      .text1{
        font-weight: 550;
        font-size: 22px;
        line-height: 28px;
        color: #FFFFFF;
      }
      .text2{
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #FFFFFF;
      }
      .CardTitle{
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        color: #FFFFFF;
      }
      .Line1{
        width: 100%;
        height: 20px;
        background: #2D40D9;
        padding-left: 2px;

      }
      .Line2{
        width: 100%;
        height: 20px;
        background: rgba(45, 64, 217, 0.5);
        padding-left: 2px;
      }
      .Line3{
        width: 100%;
        height: 20px;
        background: rgba(45, 64, 217, 0.5);
        padding-left: 2px;
      }
      .Line4{
        width: 100%;
        height: 20px;
        background: rgba(45, 64, 217, 0.5);
        padding-left: 2px;
      }
      .LastTitle{
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.0015em;
        color: #FFFFFF;
      }
    }
  }
}