.imkoniyatlar {
  background-color: #fff;
  min-width: 200px;
  position: absolute;
  z-index: 999;
  margin-top: 10px;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  padding: 15px;
  top: 60px;
}
.imkoniyatlar.active_imkoniyat {
  display: block;
}
.imkoniyatlar .colors {
  display: flex;
  align-items: center;
  gap: 7px;
  margin-top: 53px;
}
.imkoniyatlar .colors .color {
  border: 1px solid #007c17;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  cursor: pointer;
  color: #fff;
  font-weight: 600;
}
.imkoniyatlar .colors .color_A1 {
  background-color: #00a2e0;
}
.imkoniyatlar .colors .color_A2 {
  background-color: #828282;
}
.imkoniyatlar .colors .color_A3 {
  background-color: #f0e003;
}
.imkoniyatlar .lineClose {
  font-size: 25px;
  color: #00a2e0;
  cursor: pointer;
  border: 1px solid #00a2e0;
  margin-bottom: -40px !important; /* position: absolute; */
  right: 10px;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.imkoniyatlar .range_parent {
  margin-top: 20px;
}
.imkoniyatlar .zoom {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-top: 30px;
}
.imkoniyatlar .zoom i {
  font-size: 25px;
  cursor: pointer;
}
.round{
    border-radius: 50%;
}