.Header {
  width: 100%;
  height: 100px;
  background-color: #fff;
  z-index: 9999;
  box-shadow: 0 4px 8px rgb(0 0 0 / 10%);
  .myContainer {
    height: 100%;
    max-width: 1600px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    @media (max-width:1260px) {   
      justify-content: space-between;
    }
    padding: 0 20px;
    @media (max-width: 1140px) {
      justify-content: space-between;
    }

    .myDropdown {
      height: 33px;
      background: white;
      border: none;
      padding: 0;
      display: flex;
      font-weight: 600;
      font-size: 13px;
      line-height: 20px;
      color: var(--black);
      align-items: center;

      &::after {
        display: block;
        height: 16px;
        width: 16px;
        border: none;
      }
      @media (max-width: 1140px) {
        display: none;
      }
    }

    .left {
      display: flex;
      align-items: center;
      gap: 15px;
      .close_menu {
        position: absolute;
        right: 5%;
        top:40%;
        cursor: pointer;
        z-index: 3;
        @media (max-width:1260px) {
          display: none;
        }
      }
      .left-header {
        z-index: 3;
      }

      img {
        cursor: pointer;
      }
    }

    .right {
      display: flex;
      align-items: center;
      gap: 13px;

      button {
        border: none;
        background-color: #fff;

        box-sizing: border-box;
      }

      .searchButton {
        padding: 0px 13px 0px 13px;
        border-right: 1px solid var(--blue);
        @media (max-width:1260px) {
          padding: 0px 10px 0px 10px;
        }
      }
      .langButton {
        .dropdown-toggle {

        @media (max-width: 1140px){
          display: flex;
        }
        }
      }

      .murojaatButton {
        width: 153px;
        height: 48px;
        color: white;
        border-radius: 8px;
        text-decoration: none;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0px;
        background: var(--blueReal);
        transition: 0.4s all;
        @media (max-width: 1000px) {
          display: none;
        }

        &:hover {
          background-color: #f2f2f2;
          color: var(--blueReal);
          transition: 0.2s all;
        }
      }
    }
  }
}

.hamburger {
  background-image: url('../../Images/gerbBG.svg');
  background-repeat: no-repeat;
  background-position: center;
  position: fixed;
  height: 0vh;
  transition: 0.4s ease;
  background-color: #fff;
  z-index: 2;
  width: 100vw;
  display: flex;
  justify-content: space-evenly;
  overflow-y: scroll;
  @media (max-width:1260px) {
    left: -100vw;
  }
  .part {
    margin-top: 34px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    h1 {
      margin: 0;
      display: inline;
      font-size: 16px;
      line-height: 24px;
      font-weight: 550;
    }
    .blue {
      color: var(--blueReal);
    }
    a {
      color: #222222;
      text-decoration: none;
    }
  }
}
.dropdown-item:hover .show .myDropdown {
  background-color: #000;
}
.myDropdown {
  @media (max-width:1260px) {
    display: none;
  }
}
.home__logo {
  margin-left: 10px;
}
.dropdown_media {
  background: white;
  border: none;
  padding: 0;
  display: flex;
  font-weight: 600;
  font-size: 13px;
  line-height: 20px;
  color: var(--black);
  align-items: center;

  &::after {
    display: block;
    height: 16px;
    width: 16px;
    border: none;
  }
  &:hover {
    background-color: #fff;
    color: #111111;
  }
}
.hamburger_media {
  display: none;
  @media (max-width:1260px) {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    ul {
      list-style-type: none;
    }
  }
}
.hamburger_default {
  @media (max-width:1260px) {
    display: none;
  }
  display: flex;
  width: 100vw;
  justify-content: space-around;
}
.hamburger__active {
  @media (max-width:1260px) {
    transition: 0.4s ease;
    left: 0;
    height: 100vh;
    width: 50vw;
    background-color: #fff;
    background-image: none;
    justify-content: start;
    overflow-y: scroll;
  }
  transition: 0.4s all;
  height: 100vh;
  background-color: #fff;
    background-image: url('../../Images/gerbBG.svg');
  background-repeat: no-repeat;
  background-position: center;
  position: fixed;
  transition: 0.4s all;
  background-color: #fff;
  z-index: 2;
  width: 100vw;
  display: flex;
  justify-content: space-evenly;
  .part {
    margin-top: 34px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    h1 {
      margin: 0;
      display: inline;
      font-size: 16px;
      line-height: 24px;
      font-weight: 550;
    }
    .blue {
      color: var(--blueReal);
    }
    a {
      color: #222222;
      text-decoration: none;
    }
  }
}
.un_active ul {
  display: none;
}
.close_menu__media {
  position: absolute;
  right: 5vw;
  top: 0;
  font-size: 40px;
  cursor: pointer;
}
.link_item {
  text-decoration: none;
  color: var(--blueReal);
}
.my_dropdown_menu {
  transform: translate3d(0px, 25px, 0px);
  border-radius: 0;
  .dropdown-item:hover {
    color: var(--blueReal);
    background-color: #fff;
  }
}
.search-modal{
  width: 100%;
  height: 100%;
  background: rgba(1, 1, 47, 0.6);
  -webkit-backdrop-filter: blur(2.5px);
  backdrop-filter: blur(2.5px);
  z-index:999;
  position:fixed;
  top: 0;
  left: 0;
  display:flex;
  align-items: center;
  justify-content: center;
}

.search-modal .close-search{
  color: #fff;
  font-size:50px;
  font-weight:700;
  position:absolute;
  top: 20px;
  right: 20px;
  cursor:pointer;
}

.search-modal .search_form{
  width: 70%;
  height: 75%;
  background-color: #fff;
}

.search-modal .search_form .input-btn{
  display: flex;
  align-items: center;
  gap:10px;
  margin: 15px 20px;
}

.search-modal #result{
  list-style-type:none;
  overflow-y: scroll;
  height:80%;
  /* max-height: 530px; */
  margin: 15px;
}

.search-modal #result::-webkit-scrollbar{
  width: 6px;
}

.search-modal #result::-webkit-scrollbar-thumb{
  background: #0F62FE;
}

.search-modal #result::-webkit-scrollbar-track{
  background: #DFDFE0;
}

.search-modal #result p a{
  margin-bottom: -20px;
  padding:0;
  line-height: 2px !important;
  color: #101010;
  font-weight: 500;
  font-size: 16px;
}

.search-msg{
  color: rgb(235, 81, 81);
  font-size: 35px;
}

.search-modal #result p a:hover{
  opacity: .6;
}

.search-teg{
  line-height: 2px !important;
}

a{
  text-decoration: none !important;
}