.mayors {
    margin-top: 32px;
    padding-bottom: 32px;
    .mayorContainer{
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        gap:20px;
    }
    .cardChiefCard{
        max-width: 712px;
        height: 300px;
        display: flex;
        padding-right: 20px;
        gap: 20px;
        .left{
            img{
                height: 100%;
                width: 100%;
            }
        }
        .right{
            display: flex;
            flex-direction: column;
            gap: 10px;
            h3{
                font-weight: 400;
                font-size: 20px;
                line-height: 32px;
                display: flex;
                align-items: center;
                color: #0C0C0C;

            }
            small{
                font-weight: 400;
                font-size: 12px;
                line-height: 20px;
                display: flex;
                align-items: center;
                letter-spacing: 0.0025em;
                color: #222222;
                opacity: 0.7;
            }
            .top{
                width: 100%;
                display: flex;
                justify-content: space-between;
                p{
                    font-weight: 550;
                    font-size: 14px;
                    line-height: 24px;
                    color: #0C0C0C;
                }
                button{
                    width: 130px;
                    height: 48px;
                    background: #EFF1FC;
                    border-radius: 6px;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 14px;
                    text-align: center;
                    letter-spacing: 0.001em;
                    color: #2D40D9;
                }
            }
            .bottom{
                display: flex;
                gap: 24px;
                h1{
                    font-weight: 400;
                    font-size: 14px;
                    letter-spacing: 0.0025em;
                    color: #0C0C0C;
                }
                h2{
                    font-weight: 550;
                    font-size: 14px;
                    line-height: 20px;
                    color: #2D40D9;
                }
                h3{
                    font-weight: 550;
                    font-size: 14px;
                    line-height: 20px;
                    color: #2D40D9;
                }
            }
        }
    }
}
.other{
    font-weight: 400;
    font-size: 14px;
    color: #0C0C0C;
}