.Footer {
  min-height: 368px;
  width: 100%;
  background-image: url("../../Images/backlast.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

  @media (max-width: 1080px) {
    min-height: 600px;
  }
  &::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background: linear-gradient(87.16deg, #07175F -0.38%, rgba(7, 12, 34, 0) 73.98%);
  }

  .footerContainer {
    padding: 10px;
    height: 100%;
    max-width: 1600px;
    margin: 0 auto;
    display: flex;
    position: relative;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 0 20px;
    padding-top: 10px;
    padding-bottom: 20p;

.lastLeft {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  gap: 28px;
  .apps {
    display: flex;
    gap: 8px;
    button {
      height: 32px;
      width: 32px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 8px;
    }
    @media (max-width: 500px) {
      margin-top: 10px;
    }
  }

  .call {
    font-weight: 550;
    font-size: 22px;
    line-height: 28px;
    color: #FFFFFF;
  }

  .callNumber {
    font-weight: 400;
    font-size: 28px;
    line-height: 36px;
    color: #2D40D9;
  }

  .btn {
    width: 100%;
    height: 48px;
    background: #2D40D9;
    border-radius: 4px;
    border: none;
    font-weight: 550;
    font-size: 14px;
    text-align: center;
    color: #FFFFFF;
    @media (max-width: 500px) {
      margin-top: 20px;
    }
  }
}

.lastMiddle {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
    gap: 32px;
  .other {
    h1 {
      font-weight: 550;
      font-size: 22px;
      line-height: 28px;
      color: #FFFFFF;
    }

    p {
      font-weight: 400;
      font-size: 16px;
      color: #CBD0F5;
    }
  }
}

}
}

iframe {
  margin-top: 20px;
  max-width: 300px;
  height: 300px;
}