.hotels {
    margin-top: 32px;
    padding-bottom: 32px;
    .hotels__container{
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
        justify-content: space-around;
        padding: 0 20px;
        flex-wrap: wrap;
        .content{
            display: flex;
            flex-direction: column;
            gap: 20px;
            .hotelCard{
                display: flex;
                gap: 20px;
                align-items: center;
                flex-wrap: wrap;
                img{
                    width: 223px;
                    height: 198px;
                    object-fit: contain;
                }
                .right{
                    display: flex;
                    flex-direction: column;
                    gap: 15px;
                    h3{
                        font-weight: 550;
                        font-size: 16px;
                        line-height: 24px;
                        color: #0C0C0C;
                        .starYellow{
                            width: 20px;
                            height: 20px;
                        }
                    }
                    h1{
                        font-weight: 400;
                        font-size: 24px;
                        line-height: 32px;
                    }
                    small{
                        font-weight: 400;
                        font-size: 14px;
                        color: #222222;
                        opacity: 0.7;
                    }
                    .bottom{
                        display: flex;
                        justify-content: space-between;
                        width: 100%;
                        gap: 20px;
                        p{
                            font-weight: 550;
                            font-size: 14px;
                            line-height: 20px;
                            color: #2D40D9;
                        }
                    }
                }
            }
        }
    }
}
