*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body {
    margin: 0;
    padding: 0;
}
:root {
    --black:#111111;
    --blue:#CBD0F5;
    --blueReal:#2D40D9;
    --white:#EFF1FC;
}
button{
    border: none;
}
.sticky__header {
    position: sticky;
    top: 0;
    width: 100vw;
    z-index: 99999;
}
.sideBar__location {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}