.Section3{
  min-height: 950px;
  width: 100%;
  .S3Container{
    height: 100%;
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: 0px 20px;
    padding-top: 300px;
    @media  (max-width:650px) {
      padding-top: 30px;
    }
    .txt-header {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .title {
        font-weight: 400;
        font-size: 32px;
        line-height: 40px;
      }
      .myLink {
        text-decoration: underline;
        color: var(--blueReal);
        font-weight: 550;
        font-size: 16px;
        line-height: 24px;
        cursor: pointer;
      }
    }
    .api-items {
      width: 100%;
      margin-top: 32px;
      display: flex;
      gap: 20px;
      flex-wrap: wrap;
      justify-content: center;
      .content {
        &:hover {
          img {
            transform: scale(1.025);
            transition: 0.3s all;
          }
        }
        width: 692px;
        display: flex;
        flex-direction: column;
        gap: 12px;
        img {
          transition: 0.3s all;
          width: 100%;
        }
        .calendar-date {
          width: 72px;
          height: 20px;
          background-color: var(--white);
          color: var(--blueReal);
          border-radius: 4px;
          padding: 8px 10px;
          border: none;
          font-size: 11px;
          font-weight: 550;
          cursor: auto;
          display: flex;
          align-items: center;
          justify-content: center;
        }
        .brief-descr {
          font-weight: 550;
          font-size: 22px;
          line-height: 28px;
          color: var(--black);
        }
        .descr {
          font-weight: 400;
          font-size: 16px;
          line-height: 24px;
          color: var(--black);
        }
      }
      .sideBar {
        display: flex;
        flex-direction: column;
        gap: 20px;
        .item {
          &:hover {
            img {
              transform: scale(1.025);
              transition: 0.3s all;
            }
          }
          display: flex;
          flex-direction: column;
          gap: 12px;
          max-width: 488px;
          img {
            display: block;
            transition: 0.3s all;
            margin: 0 auto;
            width: 90%;
          }
          .calendar-date {
            width: 72px;
            height: 20px;
            background-color: var(--white);
            color: var(--blueReal);
            border-radius: 4px;
            padding: 8px 10px;
            border: none;
            font-size: 11px;
            margin-left: 20px;
            font-weight: 550;
            cursor: auto;
            display: flex;
            align-items: center;
            justify-content: center;
          }
          .brief-descr {
            font-weight: 550;
            display: inline;
            font-size: 12px;
            text-align: center;
            line-height: 28px;
            color: var(--black);
            @media (max-width: 350px) {
              font-size: 8px;
            }
          }
        }
      }
    }
  }
}
